body{
	background:#eeeeee;
}
.navigation {
    height: 70px;
    background: #000;
}
.brand {
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: -1px;
}
 .brand a, .brand a:visited {
	 color: #fff;
	 text-decoration: none;
}
 .nav-container {
	 max-width: 1000px;
	 margin: 0 auto;
}
 nav {
	 float: right;
}
 nav ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 nav ul li {
	 float: left;
	 position: relative;
}
nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #fff;
    text-decoration: none !important;
    background: #000;
	letter-spacing:1;
}
 nav ul li a:hover, nav ul li a:visited:hover {
	 color: #c0956c;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
	 padding-left: 4px;
	 content: ' ▾';
}
 nav ul li ul li {
	 min-width: 190px;
}
 nav ul li ul li a {
	 padding: 15px;
	 line-height: 20px;
}
 .nav-dropdown {
	 position: absolute;
	 display: none;
	 z-index: 1;
	 box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
	 background:#000;
}
/* Mobile navigation */
 .nav-mobile {
	 display: none;
	 position: absolute;
	 top: 0;
	 right: 0;
	 background: #262626;
	 height: 70px;
	 width: 70px;
}
 @media only screen and (max-width: 798px) {
	 .nav-mobile {
		 display: block;
	}
	 nav {
		 width: 100%;
		
	}
	 nav ul {
		 display: none;
	}
	 nav ul li {
		 float: none;
	}
	 nav ul li a {
		 padding: 15px;
		 line-height: 20px;
	}
	 nav ul li ul li a {
		 padding-left: 30px;
	}
	 .nav-dropdown {
		 position: static;
	}
}
 @media screen and (min-width: 799px) {
	 .nav-list {
		 display: block !important;
	}
}
 #nav-toggle {
	 position: absolute;
	 left: 18px;
	 top: 22px;
	 cursor: pointer;
	 padding: 10px 35px 16px 0px;
}
 #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	 cursor: pointer;
	 border-radius: 1px;
	 height: 5px;
	 width: 35px;
	 background: #fff;
	 position: absolute;
	 display: block;
	 content: '';
	 transition: all 300ms ease-in-out;
}
 #nav-toggle span:before {
	 top: -10px;
}
 #nav-toggle span:after {
	 bottom: -10px;
}
 #nav-toggle.active span {
	 background-color: transparent;
}
 #nav-toggle.active span:before, #nav-toggle.active span:after {
	 top: 0;
}
 #nav-toggle.active span:before {
	 transform: rotate(45deg);
}
 #nav-toggle.active span:after {
	 transform: rotate(-45deg);
}
 article {
	 max-width: 1000px;
	 margin: 0 auto;
	 padding: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 40px;
    height: 2px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #0a0a0a;
    border-radius: 10px;
}
.carousel .box {
    position: absolute;
    top: 45%;
    left: 8%;
    background: #000000d6;
    height: 130px;
    width: 84%;
}
.form-inline {
    margin-top: 30px;
}

.btn-success {
    color: #000;
    background: linear-gradient(to bottom, #FFC107 0%, #b26b29 100%);
    border-color: #f19c24;
	width:100px !important;
}
 .btn-success:hover {
    color: #000;
    background-color: linear-gradient(to bottom, #FFC107 0%, #b26b29 100%);
    border-color:  #f19c24;
}
.btn{
	border-radius:1px !important;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin: 2px !important;
}
.form__select {
    color: #b9b3b3;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 31%;
    background: #000;
    border: 1px solid #e6a512;
    height: 32px;
}
input {
    height: 32px;
    background: #000;
    border: 1px solid #e6a512;
    color: #b9b3b3;
    padding-left: 6px;
}
.property {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #fffcfc;
    padding: 5px 6px 0;
    box-shadow: 3px 2px 31px 0px #e4e4e4;
    margin-bottom: 20px;
}
.property img {
    width: 100%;
    height: 300px;
}
.recent-srch-details {
    border: 1px solid #fff;
    background: #fff;
}
.recent-srch-details img {
    width: auto !important;
    height: auto;
    margin-right: 10px;
    margin-top: -2px;
}
.recent-srch-details h3 {
    font-size: 14px;
    color: #999;
    padding-top: 10px;
    padding-left: 10px;
}
.recent-srch-details p {
    font-size: 14px;
    color: #999;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 14px;
}
.recentseprator {
    display: inline-block;
    position: absolute;
    width: 1px;
    background-color: #e1e1e1;
    height: 20px;
}
.dk-why-img {
    position: relative;
}
.bookinghotel-adwrap-div {
    background: url(../img/desk-ad-home.png) no-repeat;
    width: 99%;
    height: 91px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 12px;
    background-position: -6px -1px;
    margin-bottom: 12px;
    margin-top: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bookinghotel-adwrap-div .why-book {
    width: 22%;
    padding: 15px 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Lato",sans-serif;
}
.bookinghotel-adwrap-div .why-book h3 {
    font-size: 36px;
    font-weight: bold;
	margin-top:-8px;
}
.bookinghotel-adwrap-div .why-book p {
    font-size: 16px;
    margin: -5px 0 0 5px;
    font-weight: bold;
}
.benfits-all-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 18px 0;
    width: 65%;
}
.benft-all img {
    margin: 0 auto;
    width: auto;
}
.benft-all p {
    font-size: 14px;
    font-family: lato-bold;
    margin-top: 5px;
    color: #000;
    text-align: center;
}
.bk-btn {
    background: #a27c08;
    position: absolute;
    right: 32px;
    bottom: 18%;
    color: #fff;
    font-size: 11px;
    width: 80px;
    height: 20px;
    border: 1px solid #bd8f02;
}
.why-chose{
	width:100%px;
	margin-left:38px;
	margin-right:20px;
}
.footCnt {
    width: 1263px;
    margin: 0 auto;
}
.dvdr {
    width: 100%;
    height: 10px;
    background: url(img/sdwBdr.png) repeat-x;
    margin-top: 1.6%;
}
.txtCnt {
    width: 98.2%;
    margin: 0 auto;
    position: relative;
}
.ulLst {
    margin-top: 2.4%;
}
.inDv {
    float: left;
    width: 16.55%;
    height: 256px;
    border-right: 1px solid #000;
}
.inDv .ulLstHd {
    font-weight: 400;
}
.frst .ulLstHd, .frst .inUl li {
    margin-left: 0;
}
.ulLstHd {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin: -2.5% 0 0 9%;
}
.inUl {
    list-style: none;
    width: 100%;
}
.frst .ulLstHd, .frst .inUl li {
    margin-left: 0;
}


.frst .ulLstHd, .frst .inUl li {
    margin-left: 0;
}
.frst .ulLstHd, .frst .inUl li {
    margin-left: 0;
}
.inUl li {
    float: left;
    width: 91%;
    margin: 3% 0 0 -10%;
}
.inUl li a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    font-weight: 300;
   
}
.inUl li:hover a {
    color: #c49a52;
}
.inDv {
    float: left;
    width: 16.55%;
    height: 256px;
    border-right: 1px solid #000;
}
.dstnSrch {
    float: left;
    margin: 2.5% 0 0 0;
    width: 100%;
}
.dstn {
    float: left;
    width: 63%;
}
.dstnSrch .ulLstHd {
    font-weight: 400;
}
.dstn .ulLstHd {
    margin: 0;
}
.ulLstHd {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin: -2.5% 0 0 9%;
}
.dstnLst {
    list-style: none;
    margin-left: -1%;
}
.dstnLst li {
    float: left;
    padding: 0 1% 0 1%;
    margin-top: 1.2%;
    border-right: 1px solid #000;
}
.dstnSrch .srch {
    width: 405px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.srch {
    width: 31%;
    float: right;
    border-left: 1px solid #000;
    padding-left: 1.8%;
    margin-top: .7%;
}
.srch .ulLstHd {
    margin-left: 1px;
    margin-top: -5px;
    margin-bottom: 5px;
}
.dstnSrch .ulLstHd {
    font-weight: 400;
}
.searCont_1.serPar {
    position: relative;
}
.txtCnt .searInn, .txtCnt .searUl {
    border-color: #000;
}
#footerNavSear {
    color: #000000 !important;
}
.searCont_1 .searInn .blkDnIc {
    margin: 15px 10px 0 10px;
}
.blkDnIc {
    width: 15px;
    height: 9px;
    background: url(img/dArwBlk.png) 0 0 no-repeat;
    float: right;
    margin-top: 6px;
}
.searInput {
    color: #fff;
    font-size: 1em;
    width: 160px;
    float: left;
    height: 24px;
    line-height: 24px;
    background: 0;
    padding-left: 8px;
    -webkit-appearance: none;
    border-radius: 0;
}
.searCont_1 .searInput {
    width: 336px;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
}
.searCont_1 .searInput {
    line-height: 16px;
}
.txtCnt .searInput {
    color: #000;
    font-size: .785em;
}
#footerNavSear {
    color: #000000 !important;
}
.dstnSrch .searUl {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 1;
}
.searUl li:first-child {
    border: 0;
}
.searCont_1 .searUl li {
    border-top: 1px solid #000;
    text-transform: none;
}
.searUl li:hover {
    background: #c49a52;
}
.searCont_1 .searInn .blkDnIc {
    margin: 15px 10px 0 10px;
}
.ulLstHd {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin: -2.5% 0 0 9%;
}
.dstnLst li a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    font-weight: 300;
}
.dstnLst li a:hover{
color:#e8b017;
}
.itcfooter {
	margin-top:3%;
    border-top: 1px solid #000!important;
}
.itcfooter .dstnLst {
    float: left;
    margin: 5px 0 0 3px;
}
.itcfooter .dstnLst li:first-child {
    background: 0;
}
.itcfooter .dstnLst li {
    margin-top: .7%;
    border-right: 0;
    border-right: 1px solid #000;
    padding: 0 6px 0 6px;
    margin-bottom: 5%;
}

.copy {
    float: right;
    font-size: .625em;
    margin: 7px 1.6% 0 1.27%;
}
.footer {
    background: #eeeeee;
    box-shadow: 0px -6px 7px 4px #b9b3b34d;
}

.main-title {
    color: #2d2d2d;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 0px;
    font-size: 23px;
    margin-top: -13px;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 2px 2px 11px 4px #ddd;
    margin-top: 27px;
}
.gallaery {
    padding-top: 2%;
    padding-bottom: 5%;
}
h1.main-title:before {
    content: '';
    position: absolute;
    left: 91px;
    background: #d08c1b;
    width: 49px;
    height: 2px;
    margin-top: 30px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
.glryIn.col2 {
    margin-bottom: -27px;
    margin-top: 10px;
}
.video {
    margin-top: 20px;
   
}
.footer-scroll {
    overflow-x: scroll;
}
.glryIn.box.col2.gridNon img {
    width: 100%;
    border: 5px solid #fff;
	box-shadow:2px 2px 11px 4px #ddd;
}
@media only screen and (max-width: 768px) {

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 2px 2px 11px 4px #ddd;
    margin-top: 27px;
	max-width:none;
}
}
